{% extends 'base.html' %}
{% block title %}Edit products{% endblock %}


{% block content %}
    <h1>toto je stranka pro adminy na editaci produktu</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.name }}
        {{ form.description }}
        {{ form.price_per_month }}
        <input type="submit">
        <hr>
        {{ error }}
    </form>
    <section>
        <h2>Producty</h2>
        <table>
        <thead>
            <tr>Jmeno produktu</tr>
            <tr>Popis Produktu</tr>
            <tr>Cena za mesic</tr>
        </thead>
            {% for product in products %}
                <tr>
                    <td>{{ product['product_name'] }}</td>
                    <td>{{ product['product_description'] }}</td>
                    <td>{{ product['product_price'] }}</td>
                    <td><a href="{{ url_for('edit_product',id=product['product_name']) }}">edit</a></td>
                    <td><a href="{{ url_for('delete_product',id=product['product_name']) }}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}
