{% extends 'base.html' %}
{% block title %}Edit products{% endblock %}


{% block content %}
    <h1>toto je stranka pro adminy na editaci produktu</h1>
    <form method="POST">
        {{ new_produkt.csrf_token }}
        {{ new_produkt.name }}
        {{ new_produkt.description }}
        {{ new_produkt.price_per_month }}
        <input type="submit">
        <hr>
        {% for field, errors in new_produkt.errors.items() %}
    <div class="alert alert-error">
        {{ new_produkt[field].label }}: {{ ', '.join(errors) }}
    </div>
        {% endfor %}
    </form>
    <section>
        <h2>Producty</h2>
        <table>
            <tr>
                <thead>
                    <th>Jmeno produktu</th>
                    <th>Popis Produktu</th>
                    <th>Cena za mesic</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
            {% for product in products %}
                <tr>
                    <td>{{ product['name'] }}</td>
                    <td>{{ product['description'] }}</td>
                    <td>{{ product['price'] }}</td>
                    <td><a href="{{ url_for('edit_product',id=product['name']) }}">edit</a></td>
                    <td><a href="{{ url_for('delete_product',id=product['name']) }}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}
