{% extends 'base.html' %}
{% block title %} Ahoj {{ user['login'] }} {% endblock %}


{% block content %}
<h1>Dokoncete registraci</h1>
<br/>
{{user}}

<form method="post">
    {{ form_complete_register.csrf_token }}
    <div class="input-group">
        {{ form_complete_register.name(class='input', required='required', autocomplete='off') }}
        <label class="user-label">{{ form_complete_register.name.label }}</label>
    </div>
    <div class="input-group">
        {{ form_complete_register.surname(class='input', required='required', autocomplete='off') }}
        <label class="user-label">{{ form_complete_register.surname.label }}</label>
    </div>
    <div class="input-group">
        {{ form_complete_register.birt_date(class='input', required='required', autocomplete='off') }}
        <label class="user-label">{{ form_complete_register.birt_date.label }}</label>
    </div>
    <div class="input-group">
        {{ form_complete_register.submit(class='btn') }}
    </div>

</form>
<hr>
{% for field, errors in form_complete_register.errors.items() %}
<div class="alert alert-error">
    {{ form_complete_register[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

{% endblock %}


