{% extends 'base.html' %}
{% block title %} Edit {{product['product_name']}} {% endblock %}
{% block content %}


<section class="produkt_wraper">
    <div class="produkt">
        <h2>{{ product['name'] }}</h2>
        <br>
        <p> {{ product['description'] }}</p> 
    </div>
    <form method="post">
        {{ form.csrf_token }}
        <p>Upravit popis:</p>
            {{ form.description }}
        <p>Upravit cenu:</p>
            {{ form.price_per_month }}
            <p>Upravit cestu k obrazkum:</p>
            {{ form.imgs_path }}
        
        <input class="btn" type="submit">
    </form>
    <hr>
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
        {% endfor %}
    
    

{% endblock %}
