{% extends 'base.html' %}
{% block title %}Poslední naděje{% endblock %}


{% block content %}

{% if current_user.is_authenticated %}
nejaka stilizace pro prihlasene uzivatele
{% endif %}

{% if not current_user.is_authenticated %}
<section>

        {% for product in products %}
        <div class="product">
            <h2>{{ product['name'] }}</h2>
            <p>{{ product['description'] }}</p>
            <p>{{ product['price_per_month'] }}</p>
    
            
        </div>
        {% endfor %}
</section>

{% endif %}



{% endblock %}
