{% extends 'base.html' %}
{% block title %}Login{% endblock %}


{% block content %}
    <p> toto je login stranka</p>
    <form method="POST">
        {{ form_login.csrf_token }}
        {{ form_login.login }}
        {{ form_login.password }}
        <input class="btn" type="submit">
    </form>
    <hr>
    {% for field, errors in form_login.errors.items() %}
    <div class="alert alert-error">
        {{ form_login[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
{% endblock %}
