{% extends 'base.html' %}
{% block title %}Ahoj {{ user['login'] }}{% endblock %}


{% block content %}
<h1>toto je stranka uzivatele</h1>
<br/>
{{user}}
<br/>
<form method="post">
    {{ user_form.csrf_token }}
    <div class="input-group">
        {{ user_form.name(class='input', autocomplete='off') }}
        <label class="user-label">{{ user_form.name.label }}</label>
    </div>
    <div class="input-group">
        {{ user_form.surname(class='input', autocomplete='off') }}
        <label class="user-label">{{ user_form.surname.label }}</label>
    </div>
    <div class="input-group">
        {{ user_form.city(class='input',autocomplete='off') }}
        <label class="user-label">{{ user_form.city.label }}</label>
    </div>
    <div class="input-group">
        {{ user_form.street(class='input', autocomplete='off') }}
        <label class="user-label">{{ user_form.street.label }}</label>
    </div>
    <div class="input-group">
        {{ user_form.street_number(class='input', autocomplete='off') }}
        <label class="user-label">{{ user_form.street_number.label }}</label>
    </div>
    <div class="input-group">
        {{ user_form.zip_code(class='input', autocomplete='off') }}
        <label class="user-label">{{ user_form.zip_code.label }}</label>
    </div>
    <div class="input-group">
        {{ user_form.email(class='input', autocomplete='off') }}
        <label class="user-label">{{ user_form.email.label }}</label>
    </div>

    <input class="btn" name="user_form" value="Uprav změněné" type="submit">
</form>
<hr>
{% for field, errors in user_form.errors.items() %}
<div class="alert alert-error">
    {{ user_form[field].label }}: {{ ', '.join(errors) }}
</div>
    {% endfor %}
<form method="post">
    {{ change_password_form.csrf_token }}
    <div class="input-group">
        {{ change_password_form.password(class='input',required='required', autocomplete='off') }}
        <label class="user-label">{{ change_password_form.password.label }}</label>
    </div>
    <div class="input-group">
        {{ change_password_form.password2(class='input',required='required', autocomplete='off') }}
        <label class="user-label">{{ change_password_form.password2.label }}</label>
    </div>
    <input class="btn" name="change_password_form" value="Změnit heslo" type="submit">
</form>
<hr>
{% for field, errors in change_password_form.errors.items() %}
<div class="alert alert-error">
    {{ change_password_form[field].label }}: {{ ', '.join(errors) }}
</div>
    {% endfor %}

{% if current_user.is_authenticated and current_user.role == "admin" %}
<form method="post">
    {{ role_form.csrf_token }}
    <div class="input-group">
        {{ role_form.role(class='input', autocomplete='off') }}
    </div>
    <input class="btn" name="change_role_form" value="Změnit roli" type="submit">
</form>
{% endif %}


{% endblock %}
